<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="socketServer" type="LW.NSocket.Server.Config.SocketServerConfig,NSocket.Server" />
  </configSections>

  <socketServer>
    <servers>
      <server name="innerServer" port="8402" socketBufferSize="8192" messageBufferSize="8192" maxMessageSize="102400" maxConnections="10000" serviceType="LW.NGSSocketServer.InnerService, NGSSocketServer" protocol="asyncBinaryXMLInner" oneSocketPerClient="false"/>
      <server name="outerServer" port="8403" socketBufferSize="8192" messageBufferSize="8192" maxMessageSize="102400" maxConnections="10000" serviceType="LW.NGSSocketServer.OuterService, NGSSocketServer" protocol="asyncBinaryXMLOuter" oneSocketPerClient="false"/>
    </servers>

  </socketServer>
  <system.diagnostics>
    <trace >
      <listeners>
        <add name="nlog" type="NLog.NLogTraceListener, NLog"  defaultLogLevel="Trace"   />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>