<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Error"
      internalLogFile="nlog.log"
throwExceptions="true"
      >

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="systemlog" value="${longdate} | ${uppercase:${level}} | ${logger} | ${message} | ${callsite:className=true:methodName=true} | ${stacktrace}"/>
  <variable name="messagelog" value="${counter} | ${longdate} | ${uppercase:${level}} | ${logger} | ${message} | ${event-properties:item=ClientIP} | ${event-properties:item=XML}"/>
  <targets async="true">
    <!-- add your targets here tes-->

    <!-- write log message to database -->
    <target xsi:type="Database" name="dblog">
      <!-- SQL command to be executed for each entry -->
      <commandText>INSERT INTO [LogEntries](TimeStamp, Message, Level, Logger) VALUES(getutcdate(), @msg, @level, @logger)</commandText>

      <!-- parameters for the command -->
      <parameter name="@msg" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@logger" layout="${logger}" />

      <!-- connection string -->
      <dbProvider>System.Data.SqlClient</dbProvider>
      <connectionString>Data Source=(localdb)\v11.0;Initial Catalog=SocketLogs;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False</connectionString>

      <!-- commands to install database -->
      <install-command>
        <text>CREATE DATABASE SocketLogs</text>
        <connectionString>Data Source=(localdb)\v11.0;Initial Catalog=master;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False</connectionString>
        <ignoreFailures>true</ignoreFailures>
      </install-command>

      <install-command>
        <text>
          CREATE TABLE LogEntries(
          id int primary key not null identity(1,1),
          TimeStamp datetime2,
          Message nvarchar(max),
          level nvarchar(10),
          logger nvarchar(128))
        </text>
      </install-command>

      <!-- commands to uninstall database -->
      <uninstall-command>
        <text>DROP DATABASE SocketLogs</text>
        <connectionString>Data Source=(localdb)\v11.0;Initial Catalog=master;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False</connectionString>
        <ignoreFailures>true</ignoreFailures>
      </uninstall-command>
    </target>


    <target xsi:type="File" name="slog" fileName="${basedir}/slog_${shortdate}.log"
            layout= "${systemlog}"/>

    <target xsi:type="File" name="mlog" fileName="${basedir}/mlog_${shortdate}.log"
            layout=  "${messagelog}"/>
    <!--<target name="file" xsi:type="File"
    layout="${longdate:universalTime=true}Z [${threadid}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}"
    fileName="${basedir}/App_Data/logfile.txt"/>-->

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="NGSSocketServer.exe" minlevel="Trace" writeTo="dblog" />
    <logger name="nlog" minlevel="Trace" writeTo="dblog" />
    <logger name="LW.NGSSocketServer.*" minlevel="Trace" writeTo="mlog" />
    <logger name="LW.NGSSocketServer.*" minlevel="Trace" writeTo="dblog" />
    <!-- 
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>