<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Error"
      internalLogFile="nlog.txt">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here tes-->


    <target xsi:type="File" name="slog" fileName="${basedir}/slog_${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${logger} ${message} ${callsite:className=true:methodName=true} ${stacktrace}" />

    <target xsi:type="File" name="mlog" fileName="${basedir}/mlog_${shortdate}.log"
            layout="${counter} ${longdate} ${uppercase:${level}} ${logger} ${message} ${event-properties:item=ClientIP} ${event-properties:item=XML}"  />
    <!--<target name="file" xsi:type="File"
    layout="${longdate:universalTime=true}Z [${threadid}] ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message}"
    fileName="${basedir}/App_Data/logfile.txt"/>-->

  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="NGSSocketServer.exe" minlevel="Trace" writeTo="slog" />
    <logger name="nlog" minlevel="Trace" writeTo="slog" />
    <logger name="LW.NGSSocketServer.*" minlevel="Trace" writeTo="mlog" />
    <!-- 
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>

